{% extends 'base.html.twig' %}

{% block title %}My achievements list{% endblock %}
    {% block stylesheets %}
        {{ parent() }}

        <style>
            .achievement {
                border: 2px solid black;
                border-radius: 5px;
                background: rgba(0, 0, 0, 0.3);
                font-family:'poppins', sans-serif;
            }

            img {
                position: relative;
                top: 830PX;
                left: 1650px;
            }

            body {
                background-image: url('{{ image }}');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed; 
            }

            .achievements {
                display: flex;
                flex-direction: column;
                margin: 10% auto;
                width: 350px;

            }

            .achievement {
                margin-bottom: 15px;
                color: white;
                font-weight: 700;
                font-size: 25px;
            }

        </style>
    {% endblock %}
{% block body %}
    <div class="logo">
        <img src="{{ asset ('images/logo.svg') }}" alt="">
    </div>
    <div class="achievements">
        {% for achievement in achievements %}
            <div class="achievement">
                <div class="achievement-name">{{ achievement.name }}</div>
            </div>
            {#            {{ achievement.power }} #}
        {% endfor %}
    </div>
{% endblock %}
